<nav class="navbar navbar-light navbar-expand-md px-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="me-2 d-flex">
        <img class="me-2 navbar-toggler-icon"
          src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/64x64/3a7ce1e2822d533565da050a0a8c0428" />
        <div>TEST</div>
      </div>
    </a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
        navigation</span><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation">
          <a class="nav-link" [routerLink]="['/', 'dashboard']">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Test</button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/', 'test', 'parallax']">Parallax</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" [routerLink]="['/', 'mmm']">Measuring Machine</a>
        </li>
        <li class="nav-item dropdown">
          <button class="dropdown-toggle nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">PC
            Builder</button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/', 'pc-builder']"><i class="fa-solid fa-cubes text-primary"></i>
                Build PC</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/pc-builder/manage-pc-element']"><i
                  class="fa-solid fa-list-check text-danger"></i> Manage PC elements</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="form-inline ms-auto" target="_self">
        <div class="form-group">
          <label for="search-field"><i class="fa fa-search"></i></label>
          <input class="form-control search-field" type="search" id="search-field" name="search" />
        </div>
      </form>
      <span class="navbar-text"><a class="login" href="#">Log In</a></span>
      <a class="btn btn-light action-button" role="button" href="#">Signup</a>
    </div>
  </div>
</nav>