<div class="container mt-5">
    <h2 class="border-bottom title-border pb-1 mb-4">
        Manage PC builder
    </h2>
    <div class="row row-cols-2 text-center">
        <div class="col">
            <a routerLink="/pc-builder/manage-pc-builder/pc-elements">
                <div class="card m-3">
                    <div class="card-body bg-color10">
                        <h5 class="card-title">Manage PC elements</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="/pc-builder/manage-pc-builder/pc-constraints">
                <div class="card m-3">
                    <div class="card-body bg-color10">
                        <h5 class="card-title">Manage PC constraints</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>