<div class="m-content">
  <left-tile
    linkUrl=""
    title="Industry 4.0 Smart Factory"
    imageUrl="https://thumbs.dreamstime.com/b/manipulateur-de-robot-industriel-image-vecteur-108439228.jpg"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper
  elementum lacus, sed aliquet turpis semper non. Vestibulum et elementum
  erat. Phasellus quis purus vehicula, vulputate libero in, fermentum augue.
  Quisque eu porta dui. Duis accumsan eros nisl, a maximus mi sodales gravida.
  Nulla eget faucibus orci. Nulla id augue a leo dapibus blandit id in elit.
  Donec viverra malesuada dapibus. Maecenas sem nisl, egestas non consequat
  non, congue at lacus. Vivamus malesuada ultricies dui et blandit."
  ></left-tile>
  <left-tile
    linkUrl=""
    [rightAlign]="true"
    title="Title 2"
    imageUrl="https://thumbs.dreamstime.com/b/manipulateur-de-robot-industriel-image-vecteur-108439228.jpg"
    description="Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque laoreet quam eu arcu mattis tempor. Pellentesque vel blandit eros. Duis vehicula tincidunt tristique. Suspendisse lectus ligula, ultrices sit amet vehicula ac, pretium sed purus. Etiam suscipit id massa ac hendrerit. Vivamus iaculis, quam id pretium congue, lorem arcu dapibus mi, vitae ultricies est sapien quis metus."
  ></left-tile>
  <left-tile
    linkUrl=""
    title="Industry 4.0 Smart Factory"
    imageUrl="https://thumbs.dreamstime.com/b/manipulateur-de-robot-industriel-image-vecteur-108439228.jpg"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper
  elementum lacus, sed aliquet turpis semper non. Vestibulum et elementum
  erat. Phasellus quis purus vehicula, vulputate libero in, fermentum augue.
  Quisque eu porta dui. Duis accumsan eros nisl, a maximus mi sodales gravida.
  Nulla eget faucibus orci. Nulla id augue a leo dapibus blandit id in elit.
  Donec viverra malesuada dapibus. Maecenas sem nisl, egestas non consequat
  non, congue at lacus. Vivamus malesuada ultricies dui et blandit."
  ></left-tile>
  <left-tile
    linkUrl=""
    [rightAlign]="true"
    title="Title 2"
    imageUrl="https://thumbs.dreamstime.com/b/manipulateur-de-robot-industriel-image-vecteur-108439228.jpg"
    description="Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque laoreet quam eu arcu mattis tempor. Pellentesque vel blandit eros. Duis vehicula tincidunt tristique. Suspendisse lectus ligula, ultrices sit amet vehicula ac, pretium sed purus. Etiam suscipit id massa ac hendrerit. Vivamus iaculis, quam id pretium congue, lorem arcu dapibus mi, vitae ultricies est sapien quis metus."
  ></left-tile>
</div>
