<div class="container">
    <h2 class="border-bottom title-border pb-1 my-4">{{ update }} PC constraint</h2>
    <form [formGroup]="pcConstraintForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-2 form-label form-text" for="name">Constraint name</label>
            <div class="col-10">
                <input class="form-control" [ngClass]="name!.valid ? 'is-valid' : 'is-invalid'" id="name" type="text"
                    formControlName="name" (input)="handleNameInput()" autocomplete="off" />
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 form-label form-text" for="code">Constraint code</label>
            <div class="col-10">
                <input class="form-control" [ngClass]="code!.valid ? 'is-valid' : 'is-invalid'" id="code" type="text"
                    formControlName="code" autocomplete="off" />
                <div class="small text-danger" *ngIf="code?.hasError('caseForCode') && !code?.pending">
                    The code must be of the form: XXX_XXXXXX_XX (with X a camel case letter, underscore as separator, no
                    underscore in first and last character)
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-2 form-label form-text" for="type">Constraint type</label>
            <div class="col-10">
                <input type="radio" class="btn-check" id="same" autocomplete="off" formControlName="type" value="SAME">
                <label class="btn btn-outline-dark" for="same">Same</label>

                <input type="radio" class="btn-check" id="max" autocomplete="off" formControlName="type" value="MAX">
                <label class="btn btn-outline-dark" for="max">Max</label>

                <input type="radio" class="btn-check" id="limit" autocomplete="off" formControlName="type"
                    value="LIMIT">
                <label class="btn btn-outline-dark" for="limit">Limit</label>

                <input type="radio" class="btn-check" id="capacity" autocomplete="off" formControlName="type"
                    value="CAPACITY">
                <label class="btn btn-outline-dark" for="capacity">Capacity</label>
            </div>

        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
            <button class="btn btn-primary" [disabled]="!pcConstraintForm.valid || pcConstraintForm.pristine"
                type="submit">
                {{ update }} PC constraint
            </button>
        </div>
    </form>
</div>