button.btn.w-100.d-flex.justify-content-between {
    border: 0px;
    border-right: 20px solid var(--bg-color) !important;
}

button.btn.w-100.d-flex.justify-content-between.type-selected {
    border-right: 20px solid transparent !important;
}

.show-add {
    display: none;
}
