.elements-selection {
  height: 65vh;
  border-left: 5px solid var(--bs-primary);
}

.elements-selection.in-build {
  border-color: var(--bs-success);
}

#total {
  border-top: 2px solid white;
}

button.btn.w-100.d-flex.justify-content-between {
  border: 0px;
  border-right: 20px solid var(--bg-color) !important;
}

button.btn.w-100.d-flex.justify-content-between.type-selected {
  border-right: 20px solid transparent !important;
}

.show-add {
  display: none;
}

a:hover i {
  color: red;
}