.element-choice {
    border: 1px solid transparent !important;
    background-color: var(--color10);
    cursor: pointer;

    table {
        border-color: white;
    }

    td {
        background-color:transparent !important;
    }
}

.element-choice:hover {
    border-color: var(--bg-color-darker) !important;
    filter: brightness(98%) saturate(200%);
}

.see-more:hover {
    text-decoration: underline !important;
}